{% extends 'base_dashboard.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
This is CS50

<form action='/categories' method='post' class="form-inline">
  <div class="mb-3">
    <input class="form-control" type='text' name='title' id='title' placeholder='Category' onkeyup="convertToSlug()">
    <input class="form-control" type='text' name='url' id='url' placeholder='URL'>
  </div>
    <button class="btn btn-primary" type='submit'>Add Category</button>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">URL</th>
      <th scope="col">Posts Count</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
  <tbody>

{% for cat in category %}
    <tr>
      <th scope="row">{{ cat.id }}</th>
      <td>{{ cat.title }}</td>
      <td>{{ cat.url }}</td>
      <td>{{ cat.category_posts|length }}</td>
      <td>{{ cat.date_created }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
